@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0;
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
